* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    background-image: url("img 1/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-box {
    background:#ffffff;
    padding: 30px;
    border-radius: 34px;
    border: 1px;
    width: 485px;
    height: 574px;
    transform:translate (-50%,-50%);
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.login-box img{
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: -70px;
}
h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;

}

.sub-text {
    color: gray;
    font-size: 14px;
    padding: 5px;
}

form {
    margin-top: 20px;
}
.email-group {
    position: relative;
    top: 30px;
    margin-bottom: 50px;
    
}
input {
    width: 363px;
    height: 61px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 34px;
    outline: none;
    background: transparent;
    border: 2px solid #1D1D67;
}
.email {
    position: absolute;
    top: -100%;
    left: 60px;
    font-size: 16px;
    color:#1D1D67;
    pointer-events: none;
    background: white;
    padding: 0 5px;
}

button {
    width: 363px;
    height: 61px;
    padding: 12px;
    background-color :#1D267E;
    color: white;
    border: none;
    border-radius: 34px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
}

button:hover {
    background-color: #00054ddd;
}

.terms, .register {
    font-size: 12px;
    color: gray;
    margin-top: 25px;
}

.terms a {
    color :black;
    font-weight: bold;
    text-decoration: underline;
}
.register a{
    color: #1D267E;
    text-decoration: none;
}

.terms a:hover, .register a:hover {
    text-decoration: underline;
}


/* media querry for background img */
@media (max-width: 768px){
    /* tablets or small screens */
    body{
        background-size: contain;
        background-position: center;
    }
}
@media (max-width: 480px){
    /* website screens */
    body{
        background-size: cover;
        background-position: top;
    }
}
/* bg img height */
@media (max-height: 768px){
    /* tablets or small screens */
    body{
        background-size: contain;
        background-position: center;
        background-size: cover;
    }
}
@media (max-height: 480px){
    /* website screens */
    body{
        background-size: cover;
        background-position: top;
    }
}

 /* media querry for containner */
 @media (max-width:768px){
    /* tablets */
    .login-box{
        width: 80%;
        height: auto;
        max-width: 400px;
    }
     
    input{
        width: 90%;
    }
    .container input:focus~.email,
.container input:valid~.email {
    top: 39%;
}
label{
    padding-left: 25px;
    font-size: 22px;
}
button{
    width: 90%;
    max-width: 300px;
}
.terms, .register{
    font-size: 10px;
    margin-top: 22px;
}


 }
 @media(max-width: 480px)
 {
    .login-box{
        width:85%;
        height: auto;
        max-width: 350px;
        padding: 20px;
    }
     
    .email{
        position: absolute;
        top: 44%;
        left: 26%;
    }
    input{
        width: 80%;
    }
    .container input:focus~.email,
.container input:valid~.email {
    top: 38%;
}
label{
    padding-left: 23px;
    font-size: 21px;
}
button{
    width: 80%;
    max-width: 250px;
}
.terms, .register{
    font-size: 10px;
    margin-top: 21px;
}
 }

 